.holiday-calendar-container {
  width: 100%;
  max-width: 1200px; 
  max-height: 350px;
  margin-bottom: 10px;
  overflow: auto; 
}

.holiday-calendar-container h1 {
  font-size: 28px;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.holiday-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 7px;
  overflow: hidden; 
}

.holiday-card {
  padding: 7px; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* Vertically center the content */
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
  box-sizing: border-box; /* Ensure padding does not cause overflow */
  width: 95%; /* Ensure the card uses the full available width */
  max-width: 100%; /* Prevent overflow if the content is too wide */
}

.holiday-card:hover {
  color: var(--hover-color) !important;
  transition: color 0.3s ease, transform 0.2s ease;
  transform: translateX(5px); 
}

/* Date section styles */
.holiday-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50px;
  max-width: 50px;
  margin-right: 10px; /* Space between date and title section */
  border-right: 1px solid var(--primary-color);
}

.holiday-day {
  font-size: 14px;
  font-weight: 700;
  color: #333;
}

.holiday-month {
  font-size: 14px;
  font-weight: 500;
  color: #777;
  text-transform: uppercase;
}

/* Details section styles */
.holiday-details {
  flex-grow: 1;
  text-align: left; /* Align text to the left */
}

.holiday-title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
}

.holiday-description {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

/* Custom Scrollbar */
.holiday-calendar-container::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
}

.holiday-calendar-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light track background */
}

.holiday-calendar-container::-webkit-scrollbar-thumb {
  background: black; /* Blue thumb */
  border-radius: 14px; /* Rounded edges */
}

.holiday-calendar-container::-webkit-scrollbar-thumb:hover {
  background: #0056b3; /* Darker blue on hover */
}

/* Media query for smaller devices */
@media (max-width: 768px) {
  .holiday-card {
    flex-direction: column; /* Stack items vertically on smaller screens */
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .holiday-title {
    font-size: 16px;
  }

  .holiday-day {
    font-size: 20px;
  }

  .holiday-month {
    font-size: 12px;
  }
}
