.feeds-container {
  width: 90%;
  
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  box-sizing: border-box;
  text-align: left;
  margin: 0 auto; 
  margin-top: 10px !important;
  justify-content: center; /* Centers content horizontally within the container */
}

.feeds-left,
.feeds-right {
  flex: 1;
  min-width: 250px; 
  max-width: 20%;
  box-sizing: border-box;
}

.feeds-center {
  flex: 1;
  min-width: 250px; 
  max-width: 60%;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .feeds-left,
  .feeds-center,
  .feeds-right {
    max-width: 100%;
  }

  .feeds-container {
    flex-direction: column; 
  }
}

@media (max-width: 768px) {
  .feeds-left,
  .feeds-center,
  .feeds-right {
    padding: 5px;
  }
}
