.quick-links-container {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.quick-links-row {
  display: flex; /* Enable flexbox */
  justify-content: space-between; /* Space between columns */
  align-items: flex-start; /* Align items to the top (or change to center if needed) */
  flex-wrap: wrap; /* Allow wrapping if the container's width is too small */
  width: 100%; /* Full width of the container */
  max-width: 960px; /* Limit the maximum width of the container */
}

.quick-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  flex: 1 1 auto; /* Allow items to take equal width but not shrink */
  max-width: 160px; /* Limit max width for each item */
  text-align: center;
}

.quick-link-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px;
  background-color: black;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: all 0.3s ease;
  min-width: 100%;
  min-height: 90px;
  max-height: 90px;
  max-width: 100px;
  text-align: center;
  justify-content: center;
  overflow: hidden;
}

.quick-link-item:hover {
  /* border-color: var(--hover-color); */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px); /* Lift effect on hover */
}

.quick-link-icon {
  font-size: 24px;
  /* color: #4f4f4f;  */
  color: white;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.quick-link-item:hover .quick-link-icon {
  color: var(--hover-color); /* Icon color change on hover */
}

.quick-link span {
  font-size: 14px;
  /* color: #333; */
  color: white;
  font-weight: 600;
}

@media (max-width: 768px) {
  .quick-link {
    max-width: 120px; /* Slightly smaller width for mobile */
  }
}
