:root {
  --primary-color: #e7355d;
  --secondary-color: #7864ac;
  --tertiary-color: #77a1d6;
  --background-white: #fff;
  --text-color-black: black;
  --hover-color: #3498db;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

/* Navbar container */
.navbar {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-white);
  padding: 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  box-shadow: 0 2px 4px var(--shadow-color);

  /* Positioning */
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Left section */
.nav-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  height: 40px;
  width: auto;
}

.pipe {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.brand-name {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--text-color-black);
}

/* Right section */
.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Profile initials circle */
.profile-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: var(--primary-color);
  color: var(--background-white);
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 50%;
  text-transform: uppercase;
}

/* Flag dropdown */
.flag-dropdown {
  position: relative;
  cursor: pointer;
}

.flag-icon {
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.flag-icon:hover {
  transform: scale(1.1);
}

/* Dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: var(--background-white);
  border: 1px solid var(--shadow-color);
  border-radius: 5px;
  display: none;
  z-index: 10;
}

.flag-dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  list-style: none;
  padding: 0.5rem;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: var(--hover-color);
}

/* Hamburger menu */
.hamburger-icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--text-color-black);
  transition: color 0.3s ease;
}

.hamburger-icon:hover {
  color: var(--hover-color);
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


